<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>main page</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>

        <%-include('part/refresh.ejs')%>
        <%-include('part/sumData.ejs')%>
        <%-include('part/chart.ejs')%>

        <script type="text/javascript">
            function initSelectDateOption(min, max) {
                $("#selectStartDate").attr('min', min);
                $("#selectStartDate").attr('max', max);
                $("#selectStartDate").attr('value', min);
                $("#selectEndDate").attr('min', min);
                $("#selectEndDate").attr('max', max);
                $("#selectEndDate").attr('value', max);
            }
              var data = JSON.parse('<%- JSON.stringify(data) %>');
              var minDate = data['min(start_date)'].split(' ')[0];
              var maxDate = data['max(end_date)'].split(' ')[0];
              initSelectDateOption(minDate, maxDate);
              refreshData();
              selectDate();
        </script>

        <script>
            var port = JSON.parse('<%- JSON.stringify(port) %>');
            console.log(port);
            var socket = io.connect("http://localhost:" + port);
            socket.on('outlierData', function(data) {
                console.log(data);
                notify(data.id, data.msg);
            })
        </script>

        <script>
            Notification.requestPermission();
            function notify(id, msg) {
                if (Notification.permission !== "denied") {
                    new Notification("id="+id + ": " + msg);
                }
                else if (Notification.permission === "denied") {
                    Notification.requestPermission();
                }
            }
        </script>

        <script>

        </script>

    </head>
    
    <body>
        <h2>실시간 DATA</h2>
        <button id="refreshDataBtn">데이터 새로고침</button>

        <table id="showLatestTable" border="1">
            <th>Start Date</th>
            <th>End Date</th>
            <th>People</th>
            <th>Vehicle</th>
            <tr>
                <td id="startDate"></td>
                <td id="endDate"></td>
                <td id="peopleNum"></td>
                <td id="vehicleNum"></td>
            </tr>
        </table>



        <h2>합계 데이터 조회</h2>
        <div>

          <input type="button" value="시간 조회" id="timeLookupBtn" onclick="timeInput()" />
          <input type="button" id="dayLookupBtn" value="일간 조회" onclick="dayInput()" />
          <input type="button" id="dateLookupBtn" value="기간 조회" onclick="termInput()" />

          <div id="addForm"></div>
        <br>
        </div>
        <div>

        </div>
        <table id="showTermTable" border="1">
            <th></th>
            <th>People</th>
            <th>Vehicle</th>
            <tr>
                <th>Sum</th>
                <td id="sumPeople"></td>
                <td id="sumVehicle"></td>
            </tr>
        </table>

        <h2>Data Table</h2>
        <div>
          <input id='table_s_time' type='datetime-local' size=15 >
          ~
          <input id='table_e_time' type='datetime-local'>
          <input type="button" id="datetime_submit_btn" value="조회"  />
        </div>


        <div id='dataList'>
          <table class='dataList' border="1">
            <tr>
              <th>Start Time</th>
              <th>End Time</th>
              <th>People</th>
              <th>Vehicle</th>
            </tr>
             <tbody id='table_body'> </tbody>
          </table>
        </div>
        <div id="container"
            style="min-width: 100px; height: 400px; margin: 0 auto">
        </div>


        <form method="post" action="/mainPage/logout">
            <input type="submit" value="로그아웃"/>
        </form>
        <button onclick="notify()">Notify</button>
       
    </body>
</html>
